src/schema/nws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns="urn:oasis:names:tc:emergency:cap:1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:tc:emergency:cap:1.1">

	<xs:element name="language" type="xs:language" default="en-US"/>
	<xs:element name="category">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="msgType">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="areaDesc">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="polygon">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="event" type="xs:string"/>
	<xs:element name="responseType">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="urgency">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="severity">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="certainty">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="audience" type="xs:string"/>
	<xs:element name="eventCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="valueName"/>
				<xs:element ref="value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="effective">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d[-,+]\d\d:\d\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="onset">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d[-,+]\d\d:\d\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="expires">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d[-,+]\d\d:\d\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="senderName" type="xs:string"/>
	<xs:element name="headline" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="instruction" type="xs:string"/>
	<xs:element name="web" type="xs:anyURI"/>
	<xs:element name="contact" type="xs:string"/>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="valueName"/>
				<xs:element ref="value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resourceDesc" type="xs:string"/>
				<xs:element name="mimeType" type="xs:string"/>
				<xs:element name="size" type="xs:integer"/>
				<xs:element name="uri" type="xs:anyURI"/>
				<xs:element name="derefUri" type="xs:string"/>
				<xs:element name="digest" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="geocode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="valueName"/>
				<xs:element ref="value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="area">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="areaDesc" type="xs:string"/>
				<xs:element name="polygon" type="xs:string"/>
				<xs:element name="circle">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\s*[+-]?\d{0,2}[.]?\d*,[+-]?\d{0,3}[.]?\d*\s[+]?\d*[.]?\d*\s*"/>
							<!-- A [WGS 84] coordinate pair followed by a space character and a radius value in kilometers -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="geocode">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="valueName"/>
							<xs:element ref="value"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="altitude">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:pattern value="[+]?\d*[.]?\d*"/>
							<!--  Non-negative -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ceiling">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:pattern value="[+]?\d*[.]?\d*"/>
							<!--  Non-negative -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="valueName" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
</xs:schema>
