src/schema/nws2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cap="urn:oasis:names:tc:emergency:cap:1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:tc:emergency:cap:1.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<element name="language" type="language" default="en-US"/>
	<element name="category">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="status">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="msgType">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="areaDesc">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="polygon">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="event" type="string"/>
	<element name="responseType">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="urgency">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="severity">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="certainty">
		<simpleType>
			<restriction base="string"/>
		</simpleType>
	</element>
	<element name="audience" type="string"/>
	<element name="eventCode">
		<complexType>
			<sequence>
				<element ref="cap:valueName"/>
				<element ref="cap:value"/>
			</sequence>
		</complexType>
	</element>
	<element name="effective">
		<simpleType>
			<restriction base="dateTime">
				<pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d[-,+]\d\d:\d\d"/>
			</restriction>
		</simpleType>
	</element>
	<element name="onset">
		<simpleType>
			<restriction base="dateTime">
				<pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d[-,+]\d\d:\d\d"/>
			</restriction>
		</simpleType>
	</element>
	<element name="expires">
		<simpleType>
			<restriction base="dateTime">
				<pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d[-,+]\d\d:\d\d"/>
			</restriction>
		</simpleType>
	</element>
	<element name="senderName" type="string"/>
	<element name="headline" type="string"/>
	<element name="description" type="string"/>
	<element name="instruction" type="string"/>
	<element name="web" type="anyURI"/>
	<element name="contact" type="string"/>
	<element name="parameter">
		<complexType>
			<sequence>
				<element name="valueName" type="string"/>
				<element name="value" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="resource">
		<complexType>
			<sequence>
				<element name="resourceDesc" type="string"/>
				<element name="mimeType" type="string"/>
				<element name="size" type="integer"/>
				<element name="uri" type="anyURI"/>
				<element name="derefUri" type="string"/>
				<element name="digest" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="geocode">
		<complexType>
			<sequence>
				<xs:any />
				<xs:any />
			</sequence>
		</complexType>
	</element>
	<element name="area">
		<complexType>
			<sequence>
				<element name="areaDesc" type="string"/>
				<element name="polygon" type="string"/>
				<element name="circle">
					<simpleType>
						<restriction base="string">
							<pattern value="\s*[+-]?\d{0,2}[.]?\d*,[+-]?\d{0,3}[.]?\d*\s[+]?\d*[.]?\d*\s*"/>
							<!-- A [WGS 84] coordinate pair followed by a space character and a radius value in kilometers -->
						</restriction>
					</simpleType>
				</element>
				<element name="geocode">
					<complexType>
						<sequence>
								<element name="value" type="string"/>
								<element name="valueName" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element name="altitude">
					<simpleType>
						<restriction base="decimal">
							<pattern value="[+]?\d*[.]?\d*"/>
							<!--  Non-negative -->
						</restriction>
					</simpleType>
				</element>
				<element name="ceiling">
					<simpleType>
						<restriction base="decimal">
							<pattern value="[+]?\d*[.]?\d*"/>
							<!--  Non-negative -->
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="valueName" type="string"/>
	<element name="value" type="string"/>
</schema>
